@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");

/*BANNER from C4TK */
@-moz-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }

/* ==========================================================================
General
========================================================================== */

h1, h2, h3, h4, h5, h6, p, b, i, li, td, a {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 32px;
  margin-top: 0;
}

h2 {
  font-size: 28px;
  margin-top: 0;
}

p, td {
  font-size: 18px;
  line-height: 1.5em;
}

.block {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container h1,
.container h2 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .2em;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 150px;
}

.button-blue {
  color: #132147 !important;
  border: 2px solid #132147 !important;
}

.button-yellow {
  color: #F8A419 !important;
  border: 2px solid #F8A419 !important;
}

  .button-blue:hover {
    background-color: #132147;
    color: #F8A419 !important;
    text-decoration: none;
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
  }

  .button-yellow:hover {
    background-color: #F8A419;
    color: #FFFFFF !important;
    text-decoration: none;
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
  }

.btn-xl {
  padding: 15px 24px !important;
  font-size: 24px !important;
  line-height: 1.5 !important;
  border-radius: 8px !important;
}

/* ==========================================================================
Banner
========================================================================== */

#banner {
  background-image: url("img/images-2016/bg-blue.png");
  background-position: top-left;
  background-repeat: repeat;
  background-size: 250px, 250px, auto, cover;
  color: white;
  cursor: default;
  text-align: center;
}

  #banner .logo {
    text-align: left;
    margin-left: 10%;
    margin-bottom: 10px;
  }

    #banner .logo img {
      width: 250px;
    }

  #banner .disrupt {
    text-align: center;
    margin-bottom: 20px;
  }

    #banner .disrupt img {
      width: 50%;
    }

  #banner .inner {
    -moz-animation: reveal-banner 1s 0.25s ease-in-out;
    -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
    -o-animation: reveal-banner 1s 0.25s ease-in-out;
    -ms-animation: reveal-banner 1s 0.25s ease-in-out;
    animation: reveal-banner 1s 0.25s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    /*background: rgba(52, 27, 43, 0.5);*/
    color: white;
    display: inline-block;
    opacity: 0;
    padding: 0 !important;
    text-align: center;
  }

    #banner .inner .disrupt small {
      color: #FFFFFF;
      font-size: 12px;
      vertical-align: middle;
    }

    #banner .inner .disrupt p {
      font-size: 24px;
      margin-top: 40px;
    }

@media only screen and (max-width: 768px) {
  #banner {
    background-image: url("img/images-2016/bg-blue.png");
    background-position: top-left;
    background-repeat: repeat;
    background-size: 250px, 250px, auto, cover;
    color: white;
    cursor: default;
    text-align: center;
  }

    #banner .logo {
      text-align: center;
      margin: 0;
    }

      #banner .logo img {
        margin-top: 20px;
        width: 150px
      }

    #banner .disrupt {
      text-align: center;
      margin-bottom: 20px;
    }

      #banner .disrupt img {
        width: 80%;
      }

    #banner .inner {
      -moz-animation: reveal-banner 1s 0.25s ease-in-out;
      -webkit-animation: reveal-banner 1s 0.25s ease-in-out;
      -o-animation: reveal-banner 1s 0.25s ease-in-out;
      -ms-animation: reveal-banner 1s 0.25s ease-in-out;
      animation: reveal-banner 1s 0.25s ease-in-out;
      -moz-animation-fill-mode: forwards;
      -webkit-animation-fill-mode: forwards;
      -o-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards;
      /*background: rgba(52, 27, 43, 0.5);*/
      color: white;
      display: inline-block;
      opacity: 0;
      padding: 0 !important;
      text-align: center;
    }

      #banner .inner .disrupt small {
        color: #FFFFFF;
        font-size: 12px;
        vertical-align: middle;
      }

      #banner .inner .disrupt p {
        font-size: 24px;
        margin-top: 40px;
      }
}

/* ==========================================================================
Verse
========================================================================== */

#verse {
  background-image: url("img/images-2016/bg-verse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 23%;
  color: white;
  cursor: default;
  text-align: center;
}

  #verse .inner {
    text-align: center;
  }

  #verse p {
    font-size: 24px;
  }

  #verse small {
    font-size: 20px;
  }


/* ==========================================================================
About
========================================================================== */

.about {
  background-image: url("img/images-2016/bg-white.png");
  background-position: top-left;
  background-repeat: repeat;
  background-size: 250px, 250px, auto, cover;
  text-align: center;
}

  .about h1 {
    color: #464646;
  }

    .about h1 div {
      display: inline-block;
    }

  .about p {
    color: #464646;
    line-height: 1.5em;
    padding-top: 30px;
    margin-bottom: 0;
  }

/* ==========================================================================
What Is
========================================================================== */

.what-is {
  background-color: #132147;
  text-align: center;
  color: #F9A519;
}

  .what-is p {
    line-height: 1.5em;
    text-align: left;
    color: #FFFFFF;
  }

  .what-is a {
    color: #F9A519;
    text-decoration: underline;
  }

  .what-is ul li {
    font-size: 18px;
    text-align: left;
    color: #FFFFFF;
  }

/* ==========================================================================
Map
========================================================================== */

.map {
  background-image: url("img/images-2016/bg-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 28%;
  color: white;
  cursor: default;
  text-align: left;
  position: relative;
}

  .map iframe {
    pointer-events: none;
    height: 400px;
    padding-bottom: 40px;
  }

  .map h2 {
    margin-bottom: 30px;
    text-align: left;
  }

/* ==========================================================================
Schedule
========================================================================== */

#schedule .nav-tabs li {
  cursor: pointer;
}

  #schedule .nav-tabs li a {
    font-size: 18px;
    font-weight: bold;
  }

  #schedule td {
    padding: 12px !important;
  }

/* ==========================================================================
Join
========================================================================== */

.join {
  padding-bottom: 0;
  background-color: #E1E1E1;
}

/* ==========================================================================
Awards
========================================================================== */

.awards {
  background-image: url("img/images-2016/bg-awards.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 25%;
  color: white;
  cursor: default;
  text-align: left;
  position: relative;
}

  .awards div {
    text-align: center;
  }

  .awards div img {
    width: 40%;
  }

  .awards div p {
    text-align: center;
    display: block;
    margin: 20px 0;
  }


/* ==========================================================================
Winners
========================================================================== */

.winners {
  display: none; /* Hide this before launch */

  background-color: #ddd;
  text-align: center;
  padding-bottom: 20px;
}

/* ==========================================================================
Sponsors & Partners
========================================================================== */

.sponsor,
.partner {
  /*display: none; /* Hide for now */
  
  width: 100%;
  height: 120px;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center ;
  margin-bottom: 20px;
}

/* ==========================================================================
Challenges
========================================================================== */

.challenges {
  display: none; /* Hide for now */

  background-color: #fff;
}

.pitch {
  padding: 20px;
}

.pitch strong {
  font-size: 1.2em;
  color: #555;
}

.pitch h2 {
  margin: 10px 0;
}

.pitch div div{ /* i should refactor this */
  color: #888;
}

/* ==========================================================================
Mentors & Judges
========================================================================== */

.mentor,
.judge,
.organizer {
  display: flex;
}

.mentor .picture,
.judge .picture,
.organizer .picture {
  display: inline-block;
  width: 100px;
  min-width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mentor .desc,
.judge .desc,
.organizer .desc {
  background-color: #fff;
  padding: 10px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.mentor .desc h3,
.judge .desc h3,
.organizer .desc h3 {
  font-size: 1.5em;
  line-height: 1.1em;
}

/* ==========================================================================
Join As Sponsor
========================================================================== */

.join-sponsor {
  background-color: #EAEAEA;
}

  .join-sponsor h1 {
    text-align: center;
  }

/* ==========================================================================
FAQ
========================================================================== */

.faq {
  background-image: url("img/images-2016/bg-faq.png");
  background-position: top-left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  cursor: default;
  text-align: center;
}


.faq .row {
   -moz-column-width: 30em;
   -webkit-column-width: 30em;
   -moz-column-gap: 1em;
   -webkit-column-gap:1em; 
}

.item {
  display: inline-block;
  padding: .25rem;
  width: 100%; 
}

.question {
  position: relative;
  display: block;
  padding: 0 20px;
  text-align: left;
}

  .question h4 {
    color: #F8A419;
    padding-bottom: 10px;
  }

  .question p {
    padding-bottom: 20px;
  }

/* ==========================================================================
API
========================================================================== */

.api {
  display: none; /* Hide for now */

  background-image: url('img/old_mathematics.gif');
}

.api h1 {
  text-align: center;
}

.api .provider {
  height: 260px;
  border-radius: 10px;
  background-color: #fff;
}

.provider .logo {
  display: block;
  line-height: 150px;
  height: 150px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.provider img {
  width: 100%;
  margin: auto;
}

.provider .details {
  color: #666;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;

}

.details {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

/* ==========================================================================
Others
========================================================================== */

.mentor,
.judge,
.organizer,
.provider,
.category {
  /* cursor: pointer; */ /* No need for cursor */
  /*box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12)*/
}

.mentor .desc h3,
.judge .desc h3,
.organizer .desc h3,
.details h3 {
  color: #F8A419;
  margin: 0;
  margin-bottom: 10px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==========================================================================
Rules
========================================================================== */

.rules {
  display: none; /* Hide for now */
  background-color: #ddd;
}

/* ==========================================================================
Footer
========================================================================== */

.footer {
  background-color: #FFFFFF;
  color: #132147;
  padding: 20px 0;
}

.footer p {
  text-align: center;
  margin: 0;
}


/* ==========================================================================
Other Decides
========================================================================== */

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  #banner .inner header h2 {
    font-size: 2.0em;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  .mentor,
  .judge,
  .organizer {
    display: block;
  }

  .mentor .picture,
  .judge .picture,
  .organizer .picture {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }

  .mentor .desc,
  .judge .desc,
  .organizer .desc {
    display: block;
    padding: 20px;
    text-align: center;
    max-height: 130px;
    min-height: 130px;
  }

  .sponsor,
  .partner {
    background-size: contain;
  }

  #banner .inner p {
      font-size: 1em;
  }
  
  #banner .inner header h2 {
    font-size: 2.5em;
  }

  #banner .inner {
    padding: 1em;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {

  #banner {
    padding: 3em 0 2.5em 0;
    /*padding-top: 6em;*/

  }
  #banner .inner {
    margin-bottom: 2.5em;
  }

}   

/* ==========================================================================
Archive
========================================================================== */

/*   .iconrow img {
  width: 40px;
  height: 40px;
  opacity: .8;
}

.iconrow img:hover{
  opacity: 1;
} */


/* .icon-holder {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: red;
} */