@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");
@font-face {
  font-family: 'Avenir-Book';
  src: url('Avenir-Book.ttf');
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url('Avenir-Medium.ttf');
}

/*BANNER from C4TK */
@-moz-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-o-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes reveal-banner { 0% { opacity: 0; } 100% { opacity: 1; } }

/* ==========================================================================
General
========================================================================== */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir-Medium' !important;
}

p, b, i, li, td, a {
  font-family: 'Avenir-Book' !important;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {font-size: 2.2em !important;margin:0 0 30px 0 !important;}
h2 {font-size: 2.0em !important;}
h3 {font-size: 1.8em !important;}
h4 {font-size: 1.3em !important;}
p, li {font-size: 1.2em !important;}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .2em;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 45px !important;
}

.button-blue {
  color: #132147 !important;
  border: 2px solid #132147 !important;
}

.button-yellow {
  color: #F8A419 !important;
  border: 2px solid #F8A419 !important;
}

  .button-blue:hover {
    background-color: #132147;
    color: #F8A419 !important;
    text-decoration: none;
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
  }

  .button-yellow:hover {
    background-color: #F8A419;
    border-color: #FFFFFF !important;
    color: #FFFFFF !important;
    text-decoration: none;
    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
  }

.btn-group-xl>.btn, .btn-xl {
  padding: 15px 24px !important;
  font-size: 24px !important;
  line-height: 1.5 !important;
}

@media (max-width: 767px) {
  section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .button {
    border-radius: 45px !important;
  }

  h1 {font-size: 1.8em !important;}
  h2 {font-size: 1.5em !important;}
  h3 {font-size: 1.3em !important;}
  h4 {font-size: 1.1em !important;}
  p, li {font-size: 1.1em !important;}
}

/* ==========================================================================
Banner
========================================================================== */

#banner {
  background-image: url("img/images-2016/bg-blue.png");
  background-position: center;
  background-repeat: repeat;
  background-size: 250px, 250px, auto, cover;
  color: white;
  text-align: center;
}

  #banner .logo {
    text-align: left;
    margin-bottom: 20px;
  }

    #banner .logo img {
      width: 30%;
    }

  #banner .disrupt {
    margin-bottom: 30px;
  }

    #banner .disrupt img {
      width: 50%;
    }

@media only screen and (max-width: 767px) {
  #banner {
    background-size: 150px, 150px, auto, cover;
  }

    #banner .logo {
      text-align: center;
      margin-bottom: 20px;
    }

      #banner .logo img {
        width: 50%;
      }

      #banner .disrupt img {
        width: 90%;
      }
}

/* ==========================================================================
Verse
========================================================================== */

#verse {
  background-image: url("img/images-2016/bg-verse.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  color: white;
  cursor: default;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  #verse {
    height: 250px;
    padding-bottom: 0;
  }

    #verse h3 {
      font-size: 1.1em;
      line-height: 1.5em;
    }

    #verse h4 {
      font-size: 0.9em;
    }
}

/* ==========================================================================
About
========================================================================== */

.about {
  background-image: url("img/images-2016/bg-white.png");
  background-position: center;
  background-repeat: repeat;
  background-size: 250px, 250px, auto, cover;
  text-align: center;
  color: #464646;
}

  .about p {
    color: #464646;
    line-height: 1.5em;
    padding-top: 30px;
    margin-bottom: 0;
    font-size: 1.3em;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

@media only screen and (max-width: 767px) {
  .about {
    background-size: 150px, 150px, auto, cover;
  }
}

/* ==========================================================================
What Is
========================================================================== */

.what-is {
  background-color: #132147;
  text-align: center;
  color: #FFFFFF;
}

  .what-is h1 {
    color: #F9A519;
    margin-bottom: 20px;
  }

  .what-is p {
    line-height: 1.5em;
    text-align: left;
    font-size: 1.3em;
  }

  .what-is a {
    color: #F9A519;
    text-decoration: underline;
  }

  .what-is ul li {
    font-size: 1.3em;
    text-align: left;
    color: #FFFFFF;
  }

@media only screen and (max-width: 767px) {
  .what-is ul {
    padding-left: 20px;
  }
}

/* ==========================================================================
Map
========================================================================== */

.map {
  background-image: url("img/images-2016/bg-map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  color: white;
  cursor: default;
  text-align: left;
  position: relative;
}

  .map iframe {
    pointer-events: none;
    height: 260px;
    margin-bottom: 20px;
  }

  .map p {
    font-size: 1.3em;
  }

@media only screen and (max-width: 767px) {
  .map {
    height: 430px;
  }

    .map iframe {
      height: 200px;
    }
}

/* ==========================================================================
Schedule
========================================================================== */

#schedule .nav-tabs li {
  cursor: pointer;
}

  #schedule .nav-tabs li a {
    font-size: 18px;
    font-weight: bold;
  }

  #schedule td {
    padding: 10px !important;
  }

/* ==========================================================================
Join
========================================================================== */

.join {
  background-color: #E1E1E1;
  text-align: center;
}

.join iframe {
  height: 500px;
}

@media only screen and (max-width: 767px) {
  .join iframe {
    height: 700px;
  }
}

/* ==========================================================================
Awards
========================================================================== */

.awards {
  background-image: url("img/images-2016/bg-awards.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  color: white;
  cursor: default;
  text-align: left;
  position: relative;
}

  .awards div {
    text-align: center;
  }

  .awards div img {
    width: 40%;
  }

  .awards div p {
    text-align: center;
    display: block;
    margin: 20px 0;
  }

@media only screen and (max-width: 767px) {
  .awards {
    height: 450px;
  }
}

/* ==========================================================================
Mentors & Judges & Organizers
========================================================================== */

.mentors {
  text-align: center;
  padding-bottom: 0;
}

.organizers {
  text-align: center;
  padding-bottom: 0;
}

.mentor,
.judge,
.organizer {
  display: block;
  text-align: center;
}

  .mentor .picture,
  .judge .picture,
  .organizer .picture {
    display: inline-block;
    width: 90%;
    padding-bottom: 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mentor .desc,
  .judge .desc,
  .organizer .desc {
    background-color: #fff;
    padding: 10px;
    height: 130px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  .mentor .desc h3,
  .judge .desc h3,
  .organizer .desc h3 {
    color: #F8A419;
    margin: 0;
    margin-bottom: 5px;
  }

@media only screen and (max-width: 767px) {
  .mentor,
  .judge,
  .organizer {
    text-align: left;
    margin-bottom: 10px;
  }

  .mentor .picture,
  .judge .picture,
  .organizer .picture {
    width: 30%;
    height: 90px;
    padding: 0;
  }

  .mentor .desc,
  .judge .desc,
  .organizer .desc {
    background-color: #fff;
    padding: 5px;
    height: 90px;
    width: 65%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left: 5px;
  }

  .mentor .desc h3,
  .judge .desc h3,
  .organizer .desc h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
  }

  .mentor .desc p,
  .judge .desc p,
  .organizer .desc p {
    word-wrap: break-word;
  }
}

/* ==========================================================================
Join As Sponsor
========================================================================== */

.join-sponsor {
  background-color: #EAEAEA;
  text-align: center;
}

/* ==========================================================================
Sponsors & Partners
========================================================================== */

.sponsors {
  padding-bottom: 20px;
}

.partners {
  padding-top: 20px;
}

.sponsors,
.partners {
  text-align: center;
}

.sponsor,
.partner {
  width: 100%;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center ;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .sponsors {
    padding-bottom: 10px;
  }

  .partners {
    padding-top: 10px;
  }
}

/* ==========================================================================
FAQ
========================================================================== */

.faq {
  background-image: url("img/images-2016/bg-faq.png");
  background-position: top-left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  cursor: default;
  text-align: center;
}

.faq .row {
   -moz-column-width: 30em;
   -webkit-column-width: 30em;
   -moz-column-gap: 1em;
   -webkit-column-gap:1em; 
}

.item {
  display: inline-block;
  padding: .25rem;
  width: 100%; 
}

.question {
  position: relative;
  display: block;
  padding: 0 20px;
  text-align: left;
}

  .question h4 {
    color: #F8A419;
    padding-bottom: 10px;
  }

  .question p {
    padding-bottom: 20px;
  }

@media only screen and (max-width: 767px) {
  .question h4, .question p {
    padding-bottom: 0;
  }
}

/* ==========================================================================
Winners
========================================================================== */

.winners {
  display: none; /* Hide this before launch */

  background-color: #ddd;
  text-align: center;
  padding-bottom: 20px;
}

/* ==========================================================================
Challenges
========================================================================== */

.challenges {
  display: none; /* Hide for now */

  background-color: #fff;
}

.pitch {
  padding: 20px;
}

.pitch strong {
  font-size: 1.2em;
  color: #555;
}

.pitch h2 {
  margin: 10px 0;
}

.pitch div div{ /* i should refactor this */
  color: #888;
}

/* ==========================================================================
API
========================================================================== */

.api {
  display: none; /* Hide for now */

  background-image: url('img/old_mathematics.gif');
}

.api h1 {
  text-align: center;
}

.api .provider {
  height: 260px;
  border-radius: 10px;
  background-color: #fff;
}

.provider .logo {
  display: block;
  line-height: 150px;
  height: 150px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.provider img {
  width: 100%;
  margin: auto;
}

.provider .details {
  color: #666;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;

}

.details {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

/* ==========================================================================
Rules
========================================================================== */

.rules {
  display: none; /* Hide for now */
  background-color: #ddd;
}

/* ==========================================================================
Footer
========================================================================== */

.footer {
  background-color: #FFFFFF;
  color: #132147;
  padding: 20px 0;
}

.footer p {
  text-align: center;
  margin: 0;
}


/* ==========================================================================
Other Decides
========================================================================== */

/* SMARTPHONES PORTRAIT */
/*@media only screen and (min-width: 300px) {
}*/

/* SMARTPHONES LANDSCAPE */
/*@media only screen and (min-width: 480px) {
  #banner .inner header h2 {
    font-size: 2.0em;
  }
}*/

/* TABLETS PORTRAIT */
/*@media only screen and (min-width: 768px) {
  .mentor,
  .judge,
  .organizer {
    display: block;
  }

  .mentor .picture,
  .judge .picture,
  .organizer .picture {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }

  .mentor .desc,
  .judge .desc,
  .organizer .desc {
    display: block;
    padding: 20px;
    text-align: center;
    max-height: 130px;
    min-height: 130px;
  }

  .sponsor,
  .partner {
    background-size: contain;
  }

  #banner .inner p {
      font-size: 1em;
  }
  
  #banner .inner header h2 {
    font-size: 2.5em;
  }

  #banner .inner {
    padding: 1em;
  }
}*/

/* TABLET LANDSCAPE / DESKTOP */
/*@media only screen and (min-width: 1024px) {

  #banner {
    padding: 3em 0 2.5em 0;
  }
  #banner .inner {
    margin-bottom: 2.5em;
  }
}   */

/* ==========================================================================
Archive
========================================================================== */

/*   .iconrow img {
  width: 40px;
  height: 40px;
  opacity: .8;
}

.iconrow img:hover{
  opacity: 1;
} */


/* .icon-holder {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: red;
} */